In [1]:
person = {
    "first": "Bukenya",
    "last" : "Lukman",
    "email" : "bukenyalukman@gmail.com"
}

In [2]:
people = {
    "first" : ["Bukenya"],
    "last" : ["Lukman"],
    "email" : ["bukenyalukman@gmail.com"]
}

In [3]:
people = {
    "first" : ["Bukenya", "Ssenyondo","Musinguzi"],
    "last" : ["Lukman","Douglas","Badru"],
    "email" : ["bukenyalukman@gmail.com","douglas@gmail.com","msing@gmail.com"]
}

In [4]:
people['email']

['bukenyalukman@gmail.com', 'douglas@gmail.com', 'msing@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [8]:
df['email']

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [10]:
df[['last','email']]

      last                    email
0   Lukman  bukenyalukman@gmail.com
1  Douglas        douglas@gmail.com
2    Badru          msing@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [13]:
df.iloc[[0, 1], 2]

0    bukenyalukman@gmail.com
1          douglas@gmail.com
Name: email, dtype: object

In [14]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [15]:
df.loc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [16]:
df.loc[[0,1], 'first']

0      Bukenya
1    Ssenyondo
Name: first, dtype: object

In [18]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [19]:
df['email']

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [22]:
df.set_index('email', inplace=True)

In [23]:
df

                             first     last
email
bukenyalukman@gmail.com    Bukenya   Lukman
douglas@gmail.com        Ssenyondo  Douglas
msing@gmail.com          Musinguzi    Badru

In [24]:
df.index

Index(['bukenyalukman@gmail.com', 'douglas@gmail.com', 'msing@gmail.com'], dtype='object', name='email')

In [25]:
df.loc['bukenyalukman@gmail.com']

first    Bukenya
last      Lukman
Name: bukenyalukman@gmail.com, dtype: object

In [27]:
df.loc['douglas@gmail.com', 'last']

'Douglas'

In [28]:
df.iloc[0]

first    Bukenya
last      Lukman
Name: bukenyalukman@gmail.com, dtype: object

In [29]:
df.iloc[1]

first    Ssenyondo
last       Douglas
Name: douglas@gmail.com, dtype: object

In [30]:
df.reset_index(inplace=True)

In [31]:
df

                     email      first     last
0  bukenyalukman@gmail.com    Bukenya   Lukman
1        douglas@gmail.com  Ssenyondo  Douglas
2          msing@gmail.com  Musinguzi    Badru