In [1]:
person = {
    "first": "Bukenya",
    "last" : "Lukman",
    "email" : "bukenyalukman@gmail.com"
}

In [2]:
people = {
    "first" : ["Bukenya"],
    "last" : ["Lukman"],
    "email" : ["bukenyalukman@gmail.com"]
}

In [3]:
people = {
    "first" : ["Bukenya", "Ssenyondo","Musinguzi"],
    "last" : ["Lukman","Douglas","Badru"],
    "email" : ["bukenyalukman@gmail.com","douglas@gmail.com","msing@gmail.com"]
}

In [4]:
people['email']

['bukenyalukman@gmail.com', 'douglas@gmail.com', 'msing@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [8]:
df['email']

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [10]:
df.email

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [14]:
df[['last','email']]

      last                    email
0   Lukman  bukenyalukman@gmail.com
1  Douglas        douglas@gmail.com
2    Badru          msing@gmail.com

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [20]:
df.iloc[[0, 1], 2]

0    bukenyalukman@gmail.com
1          douglas@gmail.com
Name: email, dtype: object

In [21]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [22]:
df.loc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [24]:
df.loc[[0,1], 'first']

0      Bukenya
1    Ssenyondo
Name: first, dtype: object