In [1]:
person = {
    "first": "Bukenya",
    "last" : "Lukman",
    "email" : "bukenyalukman@gmail.com"
}

In [2]:
people = {
    "first" : ["Bukenya"],
    "last" : ["Lukman"],
    "email" : ["bukenyalukman@gmail.com"]
}

In [3]:
people = {
    "first" : ["Bukenya", "Ssenyondo","Musinguzi"],
    "last" : ["Lukman","Douglas","Badru"],
    "email" : ["bukenyalukman@gmail.com","douglas@gmail.com","msing@gmail.com"]
}

In [4]:
people['email']

['bukenyalukman@gmail.com', 'douglas@gmail.com', 'msing@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [8]:
df['email']

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [10]:
df[['last','email']]

      last                    email
0   Lukman  bukenyalukman@gmail.com
1  Douglas        douglas@gmail.com
2    Badru          msing@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [13]:
df.iloc[[0, 1], 2]

0    bukenyalukman@gmail.com
1          douglas@gmail.com
Name: email, dtype: object

In [14]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [15]:
df.loc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [16]:
df.loc[[0,1], 'first']

0      Bukenya
1    Ssenyondo
Name: first, dtype: object

In [17]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [18]:
df['email']

0    bukenyalukman@gmail.com
1          douglas@gmail.com
2            msing@gmail.com
Name: email, dtype: object

In [19]:
df.set_index('email')

                             first     last
email
bukenyalukman@gmail.com    Bukenya   Lukman
douglas@gmail.com        Ssenyondo  Douglas
msing@gmail.com          Musinguzi    Badru

In [20]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [21]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [22]:
#df.loc['bukenyalukman@gmail.com']

In [23]:
#df.loc['douglas@gmail.com', 'last']

In [24]:
df.iloc[0]

first                    Bukenya
last                      Lukman
email    bukenyalukman@gmail.com
Name: 0, dtype: object

In [25]:
df.iloc[1]

first            Ssenyondo
last               Douglas
email    douglas@gmail.com
Name: 1, dtype: object

In [26]:
#df.reset_index(inplace=True)

In [27]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [28]:
##df['last'] == 'Douglas'

In [29]:
##filt = (df['last'] == 'Lukman')

In [30]:
filt = (df['last'] == 'Lukman') & (df['first'] == 'Bukenya')

In [31]:
df.loc[filt,'email']

0    bukenyalukman@gmail.com
Name: email, dtype: object

In [32]:
filt = (df['last'] == 'Douglas') & (df['first'] == 'Ssenyondo')

In [33]:
df.loc[filt, 'email']

1    douglas@gmail.com
Name: email, dtype: object

In [34]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
df.columns = ['first_name','last_name','email']

In [38]:
df

  first_name last_name                    email
0    Bukenya    Lukman  bukenyalukman@gmail.com
1  Ssenyondo   Douglas        douglas@gmail.com
2  Musinguzi     Badru          msing@gmail.com

In [39]:
df.columns = [x.upper() for x in df.columns]

In [40]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0    Bukenya    Lukman  bukenyalukman@gmail.com
1  Ssenyondo   Douglas        douglas@gmail.com
2  Musinguzi     Badru          msing@gmail.com

In [45]:
df.columns = df.columns.str.replace(' ','_')

In [46]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0    Bukenya    Lukman  bukenyalukman@gmail.com
1  Ssenyondo   Douglas        douglas@gmail.com
2  Musinguzi     Badru          msing@gmail.com

In [47]:
df.columns = [x.lower() for x in df.columns]

In [48]:
df

  first_name last_name                    email
0    Bukenya    Lukman  bukenyalukman@gmail.com
1  Ssenyondo   Douglas        douglas@gmail.com
2  Musinguzi     Badru          msing@gmail.com

In [50]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [51]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru          msing@gmail.com

In [52]:
df.loc[2]

first          Musinguzi
last               Badru
email    msing@gmail.com
Name: 2, dtype: object

In [59]:
df.loc[2] = ['Musinguzi','Badru','msinguzi@gmail.com']

In [60]:
df.loc[2,['last','email']]

last                  Badru
email    msinguzi@gmail.com
Name: 2, dtype: object

In [61]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru       msinguzi@gmail.com

In [62]:
df.loc[2, 'last'] = 'Musing'

In [63]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi   Musing       msinguzi@gmail.com

In [64]:
df.at[2, 'last'] = 'Badru'

In [65]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru       msinguzi@gmail.com

In [66]:
filt = (df['email'] == 'msinguzi@gmail.com')

In [67]:
df[filt]

       first   last               email
2  Musinguzi  Badru  msinguzi@gmail.com

In [74]:
df.loc[2, 'first'] = 'Musinguzi'
df.loc[2, 'last'] = 'Badru'
df.loc[2, 'email'] = 'msinguzi@gmail.com'

In [75]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi    Badru       msinguzi@gmail.com

In [76]:
df.loc[filt, 'last'] = 'Badruh'

In [77]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi   Badruh       msinguzi@gmail.com

In [80]:
df['email'] = df['email'].str.lower()

In [81]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi   Badruh       msinguzi@gmail.com

In [82]:
df['email'].apply(len)

0    23
1    17
2    18
Name: email, dtype: int64

In [83]:
def update_email(email):
    return email.upper()

In [84]:
df['email'].apply(update_email)

0    BUKENYALUKMAN@GMAIL.COM
1          DOUGLAS@GMAIL.COM
2         MSINGUZI@GMAIL.COM
Name: email, dtype: object

In [85]:
df['email'] = df['email'].apply(update_email)

In [86]:
df

       first     last                    email
0    Bukenya   Lukman  BUKENYALUKMAN@GMAIL.COM
1  Ssenyondo  Douglas        DOUGLAS@GMAIL.COM
2  Musinguzi   Badruh       MSINGUZI@GMAIL.COM

In [87]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [88]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi   Badruh       msinguzi@gmail.com

In [89]:
df['email'].apply(len)

0    23
1    17
2    18
Name: email, dtype: int64

In [91]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [92]:
len(df['email'])

3

In [93]:
df.apply(pd.Series.min)

first                    Bukenya
last                      Badruh
email    bukenyalukman@gmail.com
dtype: object

In [94]:
df.apply(lambda x: x.min())

first                    Bukenya
last                      Badruh
email    bukenyalukman@gmail.com
dtype: object

In [95]:
df.applymap(len)

   first  last  email
0      7     6     23
1      9     7     17
2      9     6     18

In [96]:
df.applymap(str.lower)

       first     last                    email
0    bukenya   lukman  bukenyalukman@gmail.com
1  ssenyondo  douglas        douglas@gmail.com
2  musinguzi   badruh       msinguzi@gmail.com

In [98]:
df['first'].map({'musinguzi':'miyingo'})

0    NaN
1    NaN
2    NaN
Name: first, dtype: object

In [99]:
df

       first     last                    email
0    Bukenya   Lukman  bukenyalukman@gmail.com
1  Ssenyondo  Douglas        douglas@gmail.com
2  Musinguzi   Badruh       msinguzi@gmail.com